{% extends "base.html" %}
{% block title %}Not Found{%endblock%}
{% block content %}
<main id="content" class="content" role="main">
    <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <header class="post-header">
            <h1 class="post-title" itemprop="headline">Not Found</h1>
        </header>
        <section class="post-content">
            {% include 'ads.html' %}
            <br/>            
            <img src="images/404.jpg" alt="404">
            <p>Lo que ha solicitado no se pudo localizar. Tal vez es posible que desee comprobar los <a href="{{ SITEURL }}/archives.html">archivos</a> y encontrar lo que busca...</p>
            <p>
                <a href="http://mbsy.co/bHCMB" target="_blank" style="border:none;">
                    <img src="https://ambassador-api.s3.amazonaws.com/uploads/marketing/970/2014_09_22_13_34_17.gif" alt="Code School" border="0" />
                </a>
            </p>
        </section>
        <footer class="post-footer">
            {% include 'donate.html' %}           
        </footer>
    </article>
</main>
{% endblock %}