<nav class="pagination" role="navigation">
    <ul>
        {% if article.next_article %}
        <a rel="prev" class="newer-posts" href="{{ SITEURL }}/{{ article.next_article.url}}" title="Leer: {{ article.next_article.title }}">
            Leer la nueva publicación
        </a>
        {% endif %}
        {% if article.prev_article %}
        <a rel="next" class="older-posts" href="{{ SITEURL }}/{{ article.prev_article.url}}" title="Leer: {{ article.prev_article.title }}">
            Leer la próxima publicación
        </a>
        {% endif %}
    </ul>
</nav>
