{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
<main id="content" class="content" role="main">
    <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <header class="post-header">
            <h1 class="post-title" itemprop="headline">{{ page.title|striptags }}</h1>
        </header>
        <section class="post-content">
            {% include 'ads.html' %}
            <br/>            
            {{ page.content }}
        </section>
        <footer class="post-footer">
               {% include 'ads.html' %}            
        </footer>
    </article>
</main>
{% endblock %}